<h1>Search</h1>
<%= form_tag(microposts_path, :method => "get") do %>
 <%= text_field_tag :search %> 
<%= submit_tag "Search" ,:place => nil ,class: "button is-info"%> 
<% end %> 


<%= render 'microposts/microposts', microposts: @micropost %>