@import "bootstrap-sprockets";
@import "bootstrap";

.center h1 {
    font-family: 'Oswald', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Zilla Slab', serif;
    font-size: 150px;
}
.text-center h1 {
  font-family: 'Oswald', sans-serif;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Zilla Slab', serif;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}