@import "bootstrap-sprockets";
@import "bootstrap";

.center h1 {
    font-family: 'Oswald', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Zilla Slab', serif;
    font-size: 150px;
}